/* ==========================================================================
Main page styles
========================================================================== */

.file-name {
  cursor: pointer;
  user-select: none;
  :hover {
    color: red;
  }
}
