/* ==========================================================================
Main page styles
========================================================================== */

.hipster {
  display: inline-block;
  width: 347px;
  height: 497px;
  background: url('../../content/images/jhipster_family_member_3.svg') no-repeat center top;
  background-size: contain;
}

.cart-item-column {
  width: calc(100% - 250px);
  overflow-y: scroll;
  float:left;
  height:80vh;
}

.cart-item-image-wrapper{
  height: 25vh;
  width: 25vh;
  border: 1px blue solid;
  float:left;
  margin:15px;

}

.cart-item-image{

}

.cart-item-text{
  height: 25vh;
  width: 25vh;
  border: 1px blue solid;
  float:left;
  margin: 15px 15px 15px 3vw;
}
.cart-item{
  display:inline-block;
}
.cart-summary-column{
  width:250px;
  float:right;
  align-items: center;
  justify-content: center;
  justify-items: center;
  text-align: center;
}

.cart-summary-text-line{
  justify-content: space-between;
}
.cart-summary-button{
}


/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (-moz-min-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
  .hipster {
    background: url('../../content/images/jhipster_family_member_3.svg') no-repeat center top;
    background-size: contain;
  }
}
