<div class="cart">
 <div class="cart-item-column">

   <div *ngFor="let item of cartItems" >
     <hr>
      <div class="cart-item" *ngIf="item.prod" >
        <div class="cart-item-image-wrapper">
          <img class="cart-item-image" alt="{{item.prod.name}}">
        </div>
        <div class="cart-item-text">
          <h3>{{item.prod.name}}</h3>
          <h4>Price per one: {{item.price}}</h4>
          <h5>Quantity: {{item.quantity}}</h5>

        </div>
      </div>
     <hr>
   </div>

  </div>
  <div class="cart-summary-column">
    <h2>Podsumowanie</h2>
    <div class="cart-summary-box">
      <p class="cart-summary-text-line">
        <p>Wartość produktów:</p>
        <p>0.00 zł</p>
      <button class="cart-summary-button">Złóż zamówienie</button>
    </div>
  </div>
</div>
