<div class="cart">
 <div class="cart-item-column">
   <hr>

    <div class="cart-item">
      <div class="cart-item-image-wrapper">
        <img class="cart-item-image" alt="Produkt">
      </div>
      <div class="cart-item-text">
        Text
      </div>
    </div>

   <hr>

  </div>
  <div class="cart-summary-column">
    <h2>Podsumowanie</h2>
    <div class="cart-summary-box">
      <p class="cart-summary-text-line">
        <p>Wartość produktów:</p>
        <p>0.00 zł</p>
      <button class="cart-summary-button">Złóż zamówienie</button>
    </div>
  </div>
</div>
