<div>
  <h2 id="page-heading" data-cy="FileInfoHeading">
    <span>File Infos</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-file-info"
        [routerLink]="['/file-info/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new File Info </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="fileInfos?.length === 0">
    <span>No fileInfos found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="fileInfos && fileInfos.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="fileName"><span>File Name</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="originalFileName"><span>Original File Name</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="fileSize"><span>File Size</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="createdAt"><span>Created At</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="updatedAt"><span>Updated At</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="imageOf.id"><span>Image Of</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let fileInfo of fileInfos; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/file-info', fileInfo.id, 'view']">{{ fileInfo.id }}</a>
          </td>
          <td>{{ fileInfo.fileName }}</td>
          <td>{{ fileInfo.originalFileName }}</td>
          <td>{{ fileInfo.fileSize }}</td>
          <td>{{ fileInfo.createdAt | formatMediumDatetime }}</td>
          <td>{{ fileInfo.updatedAt | formatMediumDatetime }}</td>
          <td>
            <div *ngIf="fileInfo.imageOf">
              <a [routerLink]="['/product', fileInfo.imageOf?.id, 'view']">{{ fileInfo.imageOf?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/file-info', fileInfo.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/file-info', fileInfo.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(fileInfo)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="fileInfos && fileInfos.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
