/* ==========================================================================
Main page styles
========================================================================== */

.hipster {
  display: inline-block;
  width: 347px;
  height: 497px;
  background: url('../../content/images/jhipster_family_member_3.svg') no-repeat center top;
  background-size: contain;
}

.category-menu{
  border: 3px gray solid;
  display:flex;
  width:240px;
  float:left;
  height:80vh;
  overflow-y:auto;
}
.category-menu li {
  width:100%;
  font-size:15px;
}
.gallery-app-container{
  max-width: none;
  display: flex;
  margin: 0 auto;
  box-sizing: border-box;
}
.gallery-list-container{
  width: calc(100% - 240px);
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}
.product-list {

  display: flex;
  flex-wrap: wrap;
}
.no-products-found{
  margin-left:50px;
  margin-top: 25px;
}
.product-card {
  display: flex;
  flex-grow: 0.5;
  flex-direction: column;
  align-items: center;
  border: 1px solid #f7f7f7;
  border-radius: 10px;
  margin:20px;
}
.product-image{
  width:200px;
  height:210px;
  margin:20px;
  cursor: pointer;
  img{
    width:100%;
    height:100%;
    object-fit:contain;
    object-position: center;
  }
}
.product-details{
  display: flex;
  flex-direction: column;
  align-items: center;
  width:100%;
  padding: 10px 20px;
  border-top: 1px solid #f3f3f3;
}


.filter-menu{
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  width:240px;
  padding: 0;
  list-style-type: none;
  border-right: gray 1px solid;
  font-size:20px;
  font-weight: bold;
}
.category-list{
  padding: 0;
  list-style-type: none;
  font-size:14px;
  a{
    color:gray;
    font-weight:normal;
  }
  a:hover{
    font-weight:bold;
  }
}
::ng-deep {
  .custom-slider {
    .ngx-slider {
      .ngx-slider-pointer {
        height:16px;
        width:16px;
        top:-7px;
      }
      .ngx-slider-pointer:after {
        top:6px;
        left:5px;
        width:6px;
        height:6px;
      }
      .ngx-slider-bubble {
        font-size:10px;
        font-weight:600;
      }
    }
  }
}
/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (-moz-min-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
  .hipster {
    background: url('../../content/images/jhipster_family_member_3.svg') no-repeat center top;
    background-size: contain;
  }
}
