<div>
  <h2 id="page-heading" data-cy="CartItemHeading">
    <span>Cart Items</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-cart-item"
        [routerLink]="['/cart-item/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Cart Item </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="cartItems?.length === 0">
    <span>No cartItems found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="cartItems && cartItems.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="price"><span>Price</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="quantity"><span>Quantity</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="createdAt"><span>Created At</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="updatedAt"><span>Updated At</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="product.id"><span>Product</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="cart.id"><span>Cart</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cartItem of cartItems; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/cart-item', cartItem.id, 'view']">{{ cartItem.id }}</a>
          </td>
          <td>{{ cartItem.price }}</td>
          <td>{{ cartItem.quantity }}</td>
          <td>{{ cartItem.createdAt | formatMediumDatetime }}</td>
          <td>{{ cartItem.updatedAt | formatMediumDatetime }}</td>
          <td>
            <div *ngIf="cartItem.prod">
              <a [routerLink]="['/product', cartItem.prod?.id, 'view']">{{ cartItem.prod?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="cartItem.cart">
              <a [routerLink]="['/cart', cartItem.cart?.id, 'view']">{{ cartItem.cart?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/cart-item', cartItem.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/cart-item', cartItem.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(cartItem)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="cartItems && cartItems.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
